exportPattern("^[[:alpha:]]+")

import(GPArotation, ThreeWay, MASS, stats,graphics)
importFrom("Matrix","Diagonal")

S3method(print, pcovr)
S3method(summary, pcovr)
S3method(plot, pcovr)
S3method(pcovr, default)
